@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower');

*{
    padding: 5px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
}

body{
    display: grid;
    background-color: black;
    background-image: url(https://i.imgur.com/5RoPD1Z.jpg);

    background-size: cover;
    height: 1000px;
    z-index: 0;
}

header {
    font-size: 20vw;
    font-size: 10vh;
    max-height: 380px;
    line-height: 0%;
}

footer > h2 {
    color: rgb(255, 255, 181);
}
/*.button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #00e5ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:hover, .button:focus {
    background: #242424;
}

.button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.button:active {
    transform: scale(0.99);
}

.buttonselector > button {
    cursor: pointer;
} */

#forms {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 15px;  
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#submit2 {
    cursor: pointer;
    font-size: 50px;
    width: 20vw;
    max-width: 25vw;
    height: 20vh;
    max-height: 30vw;
    border: 4px darkgrey solid;
    border-radius: 15px;
    color:black;
    background: url('https://i.pinimg.com/originals/73/f0/7a/73f07a3b375055159210d24ffd44e9ec.jpg')
}

.container {
    padding: 0px
}
.container > img {
    box-shadow: 5px 5px 5px black;
    padding: 0px;
}

.content {
    display: grid;
    text-align: center;
    align-content: center;
    align-items: center;
}

.content > img {
    width : 500px; 
    height : 400px;
    border: 5px rgb(46, 46, 46) dotted;
    /* -o-box-shadow:      12px 12px 29px #555;
    -icab-box-shadow:   12px 12px 29px #555;
    -khtml-box-shadow:  12px 12px 29px #555;
    -moz-box-shadow:    12px 12px 29px #555;
    -webkit-box-shadow: 12px 12px 29px #555; */
    box-shadow:         800px 1200px  #555;
}

.table, table, th, td{
    display:grid;
    border: dotted 2px black ;
    align-content: center;
}

#navigation > a {
    text-decoration: none;
    color: black;
}

#navigation a:hover {
    display: flexbox;
    color: grey;
    transition: 500ms;
    align-content: space-between;
}

#navigation{
    font-size: 40px;
    text-decoration: none;
}